#images-hover-effect{
    cursor: pointer;
}


/* full screen image background div*/
.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    /* manipulate status on full screen image by chenging "display: none; --> display: flex;" */
    display: none;
    align-items: center;
    justify-content: center;

    /* to fix the bug still is shown small img after click */
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

/* X mark */
.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

